<h1>Welcome to Software Project.</h1>

<div>
    <% if current_user %>
        <% if isEmployee? %>
        
          <li>
          <%= link_to('View customer orders', orders_path)  %>
          </li>
          
        <% else %>
          
          <li>
          <%= link_to('Place an order', new_order_path)  %>
          </li>
          
        <% end %>
        
        
        
        
        
        
        
        <strong>Why is the following not working???</strong>
        <p>all employees: </p>
        <% get_employees.each do |i| %>
            <p>
                name = "<% i.name %>"; 
                email_address = "<% i.email_address %>"
            </p>
        <% end %>
        <p>total employees = <%num_employees%> </p>
    <% end %>
    
</div>
