<div class="welcomeMsg">
  <h1>Welcome to Haji Sons Portal</h1>
</div>

<div>
    <% if current_user %>
        <% if isEmployee? %>
          <li>
          <%= link_to('View customer orders', orders_path)  %>
          </li>
        <% else %>
          <li>
          <%= link_to('Place an order', new_order_path)  %>
          </li>
          <li>
          <%= link_to('View my Orders', orders_path)  %>
          </li>
        <% end %>
    <% end %>
    
</div>
