/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 html body {
     padding: 0px;
     margin: 0px;
 }
 
 #CompanyLogo{
     height: 100px;
     width: 1250px;
 }
 
 .menu li {
     /*height: 30px;*/
     display: inline;
     list-style: none;
     padding: 0px 10px;
 }
 .menu {
     /*height: 30px;*/
     margin: 0 auto;
     padding: 0;
 }
#login {
    float: right;
}
.header {
    background-color: #fbfbfb;
    padding: 0px;
    margin: 0px;
}

#cf {
  /*position: static;*/
  /*height:281px;*/
  /*width:450px;*/
  /*margin:0 auto;*/
}

#cf img {
  position: fixed;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#cf img.top:hover {
  opacity:0;
}


footer {
    /*height: 20px;*/
    background-color: #fbfbfb;
    /*padding: 0px;*/
    /*margin: 0px;*/
    position: fixed;
    bottom: 0; /* place it to the bottom */
    z-index: 9999; /* You may want to be sure no other elements will be displayed on top of it, raise this if it's still being displayed under other elements */

}
footer p {/**/
    padding: 0px;
    margin: 0px;
    float: left;
}
footer a {
    padding: 0px;
    margin: 0px;
    float:right;
}

